body{
    background-color: black;
    color: white;
}

ul{
    margin: 0px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    margin: 40px 10px 20px 10px;
}

header > nav{
    float: right;
}

header > nav > ul{
    list-style: none;
}

header > nav > ul > li{
    color: #b7b7b7;
    float: left;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

header > nav > ul > li:hover{
    border-bottom: 3px solid #e06567;
}

#TopLogo{
    font-size: 24px;
    font-family: "Arial Black";
}

#Philip{
    color: #e6686a;
}

#Huang{
    color: #9a9da2;
}






