body{
    background-color: #efefef;
    color: black;
    margin: 0;
}

h1,h2,h3,p{
    margin: 0;
}

ul{
    margin: 0px;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    margin: 30px 10px 10px 10px;
    position: fixed;
    left: 0;
    right: 0;
}

header > nav{
    float: right;
    font-size: 0.8em;
}

header > nav > ul{
    line-height: 28.8px;
}

header > nav > ul > li{
    vertical-align: baseline;
    color: #b7b7b7;
    float: left;
    font-weight: bold;
    margin: 0 10px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

header > nav > ul > li:hover{
    border-bottom: 3px solid #e06567;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#TopLogo{
    font-size: 24px;
    font-family: "Arial Black";
}

#Philip{
    color: #e6686a;
}

#Huang{
    color: #9a9da2;
}



.banner{
    background: url(../imgs/bannarBG.jpg);
    background-position: center center;
    background-size: cover;
    height: 515px;
    /* border: 1px solid red; */
}

.banner .mask{
    background-color: rgba(0,0,0,0.8);
    height: 515px;
    /* border: 1px solid red; */
}

/*名片*/
main .card{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}

main .card .upper{
    padding: 50px;
    background-color: white;
}

main .card .upper > img{
    height: 347px;
    width: 299px;
    float: left;
}

main .card .upper > .intro{
    float: left;
    margin-left: 65px;
}

main .card .upper > .intro .welcome{
    display: inline-block;  /*令元素在内联下自成一个块*/
    line-height: 22px;
    background-color: #e6686a;
    color: white;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 28px;
}

.left-tri{
    width: 0;
    height: 0;
    border-top: 10px solid #e6686a;
    border-right: 10px solid transparent;
    position: absolute;
    left: 4px;
    top: 100%;
}

main .card .upper > .intro h3{
    margin-top: 10px;
}

main .card .upper > .intro hr{
    margin: 20px 0;
    border: 1px solid #DEDEDE;
    width: 470px;
}

/* main .card .upper > .intro dl{
    border: 1px solid black;
} */

main .card .upper > .intro dl dt{
    /* border: 1px solid red; */
    float: left;
    width: 30%;
    padding: 5px 0;
    font-weight: bold;
}

main .card .upper > .intro dl dd{
    /* border: 1px solid blue; */
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

main .card footer{
    text-align: center;
    height: 80px;
    line-height: 80px;
    background-color: #e6686a;
}

main .card footer a{
    margin: 0 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

main .card footer a:hover{
    background-color: #cf5d5f;
}

main .card footer a svg{
    vertical-align: -20%;
    width: 30px;
    height: 30px;
    fill: white;
}


